<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}"/>
</head>
<body>
    {% block content %}
    {% with messages = get_flashed_messages() %}        <!-- this part is important, it flashes the message on the html page -->
            {% if messages %}
                {% for msg in messages %}
                    <p>{{msg}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    {% endblock %}
</body>
</html>