{% extends "base.html"%}
{% block title %}Login{%endblock%}
{% block content%}
    {% with messages = get_flashed_messages() %}  
        {% if messages %}
            {% for msg in messages %}
            <div class="flash-message">{{msg}}</div>
            {% endfor %}
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    const flashMessages = document.querySelectorAll('.flash-message');
                    flashMessages.forEach(function(message) {
                        setTimeout(function() {
                            message.classList.add('fade-out');
                        }, 2000); // 2000 milliseconds = 2 seconds
                    });
                });
            </script>
        {% endif %}
    {% endwith %}
<div class="content">
    <form action="" method="POST">
        <p>Userame: </p>
        <p><input type="text" name="username" />
        <p>Password: </p>
        <p><input type="password" name="password" />
        <input type="submit" value="submit" /></p>
    </form>
    <p>Don't have an account?<a href="{{url_for('register')}}">Register Here</a></p>
</div>
{%endblock%}
